In [22]:
import pandas as pd
import os

In [20]:
# # 1) Merging 12 month of data in single file

# month1 = pd.read_csv('Sales_Data/Sales_January_2019.csv')
# month2 = pd.read_csv('Sales_Data/Sales_February_2019.csv')
# month3 = pd.read_csv('Sales_Data/Sales_March_2019.csv')
# month4 = pd.read_csv('Sales_Data/Sales_April_2019.csv')
# month5 = pd.read_csv('Sales_Data/Sales_May_2019.csv')
# month6 = pd.read_csv('Sales_Data/Sales_June_2019.csv')
# month7 = pd.read_csv('Sales_Data/Sales_July_2019.csv')
# month8 = pd.read_csv('Sales_Data/Sales_August_2019.csv')
# month9 = pd.read_csv('Sales_Data/Sales_September_2019.csv')
# month10 = pd.read_csv('Sales_Data/Sales_October_2019.csv')
# month11 = pd.read_csv('Sales_Data/Sales_November_2019.csv')
# month12 = pd.read_csv('Sales_Data/Sales_December_2019.csv')

# yearData = pd.concat([month1,month2,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12])
# yearData.to_csv('sales2019.csv')

In [31]:
# Task 1: Merge the 12 months sales data into a single csv

files = [file for file in os.listdir('./Sales_Data')]
all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    all_months_data = pd.concat([all_months_data,df])

all_months_data.to_csv("all_data.csv", index = False)

In [32]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [47]:
# Clean up the data
nan_df = 
all_data[all_data['Order ID'].isNan()]

AttributeError: 'Series' object has no attribute 'isNan'

In [43]:
# Augument data with additional column

all_data['month'] = all_data['Order Date'].str[0:2]
all_data['month'] = all_data['month'].astype('int32')
all_data.head(50)

ValueError: cannot convert float NaN to integer